<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>
<body>
    <div id="wrapper">
      <div class="checker-bg">
        <main class="main-card">
          <%- include ('../partials/header') %>
          <%- include ('../partials/navigation') %>
          <%- body %>
          <%- include('../partials/footer')%>
        </main>
      </div>
    </div>
</body>
</html>